body{
background-color: blue;
height:100%;
margin:0px;
}

.page-layout{
    height:100vh;
    display:grid;
    background-image:white;
    border:2px black;
    grid-template-columns:.7fr 3fr;
    grid-template-rows:1fr 3fr;
}

.top-left{
    
    display:flex;
    flex-direction:row;
    align-items:center;
    Justify-content:center;
    font-size:28px;
    grid-area:1,1,2,2;
    background-color:skyblue;
    margin-right:2px;
    box-shadow:2px 2px 2px 2px;
}

.top-right{
    display:flex;
    flex-direction:row;
    align-items:center;
    Justify-content:center;
    font-size:48px;
    grid-area:1,2,2,3;
    background-color:rgb(193, 199, 203);
}
.bottom-left{
    grid-area:2,1,3,2;
    background-color:gray;
    margin-right:2px;
    box-shadow: 2px 2px 2px 2px;
}
.bottom-right{
    grid-area:2,2,3,3;
    background-color:white;
}

.addbook{
    height:75px;
    width:100px;
    background-color:lightblue;
    border-radius:15px;
    box-shadow:2px 2px 2px 2px;

}
.bookcontainer{
    display:grid;
    height:250px;
    width:300px;
    grid-template-rows: 200px 50px;


}
.formbox{
    
    display:grid;
    grid-template-columns: .70fr 2fr;
    grid-template-rows:repeat(1fr,4);
    text-align:center;
    
}

#readlabel, #enteredread{
    border-bottom:0px;

}
.info{
    border-right:2px black solid;
    border-bottom:2px black solid;
    margin:10px;
    margin-right:0px;
    gap:0px;

}

.enteredinfo{
    text-align:center;
    margin:10px;
    margin-left:0;
    border-bottom:2px black solid;
}


.formcontainer{
    display:none;
    position:fixed;
    flex-direction:column;
    top:35%;
    left:35%;
    height:250px;
    width:400px;
    text-align: center;
    font-size:20px;
    background-color:lightskyblue;
    border:2px solid cyan;
    gap:10px;
    border-radius:15px;
    box-shadow:4px 2px 2px 2px;
}
.formcontainer2{
    display:flex;
    flex-direction:column;
    position:fixed;
    top:200px;
    left:300px;
    height:400px;
    width:400px;
    background-color:purple;
    border:2px solid green;
    margin:auto;
    text-align:left;
}


.formbox>div:nth-last-child(-n+2){
    font-size:20px;
}

label, input[type = "text"], input[type = 'number']{ 
    display: inline-block; 
    width: 100px; 
    text-align: left;
 }

.radio > label,input[type = 'radio']{

    display:inline;
 }


.thing{
    background-color:darkblue;
    height:200px;
    width:200px;
    position:absolute;
    top:200px;
    left:200px;
}

.container{
    background-color: beige;
    display:grid;
    height:250px;
    grid-template-rows:200px 50px;
    width:300px;
    width:300px;
    border-radius:15px;
    box-shadow:2px 2px 2px 2px;
    gap:0px;
    margin:10px 10px;
    
}
.changecontainer{
    display:flex;
    justify-content:center;
    align-items:center;
    height:auto;
    width:auto;
    
}
.change{
    margin-bottom:10px;
    align-items:center;
    height:40px;
    width:200px;
    background-color:greenyellow;
    border-radius:15px;
    box-shadow:2px 2px 2px 2px;
}

.uploadBook{
    align-self:center;
    background-color:yellowgreen;
    box-shadow:2px 2px 2px 2px;
    width:200px;
    border-radius:10px;


}